[submodule "asyncdbus"]
	path = asyncdbus
	url = ../asyncdbus.git
[submodule "asyncusb"]
	path = asyncusb
	url = ../asyncusb.git
[submodule "jinx"]
	path = jinx
	url = ../jinx.git
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
	branch = 2022.10.19
