[Unit]
Description=Redmibook 15 2022 Fingerprint Driver
After=NetworkManager.service

[Service]
Type=dbus
BusName=net.reactivated.Fprint
ExecStart=/usr/bin/podman run --privileged -v /var/run/dbus:/var/run/dbus -v /var/lib/fprint:/var/lib/fprint -v /home/pom/Projects/fingerprint-ocv/out/build/release/src/:/data --device /dev/bus/usb/001/002 localhost/fingerpp
ExecStop=/bin/sh /usr/bin/stop_fprint

[Install]
WantedBy=multi-user.target 
